<section>
  <div class="container">
    <div class="form-group row">
      <h3 class="col-sm-2">Restorani</h3>
      <div class="col-sm-10">
        <input (keyup)="search($event)" class="form-control" type="text" placeholder="Pretražite Restorane" aria-label="Search">
        <!-- <div class="card" *ngIf="visibleRestaurants!=undefined" id="searchBox">
          <div *ngFor="let restaurant of visibleRestaurants">
            <a href="restaurant/{{restaurant.restaurantId}}" class="link">
          <div class="card-body">
            {{restaurant.name}}
          </div>
          </a>
        </div>
             <div *ngIf="visibleRestaurants!=undefined && visibleRestaurants==0"class="card-body">
            <h3>Nema traženog restorana</h3>
          </div> 
        </div> -->
      </div>
    </div>


    
  </div>
  <div *ngFor="let restaurant of visibleRestaurants" fxLayoutGap="3" class=" container  col-sm-12 col-lg-5" >
    <div class="card " >
        <div fxLayout="row inline">
            <img [src]="restaurant.restaurantLogo" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{restaurant.name}}</h5>
          <p class="card-text">{{restaurant.description}}</p>
         
          <button type="button" class="btn btn-danger" (click) = "redirectToRstoranById(restaurant.restaurantId)">naruci</button>
        </div>
        </div>
      </div>  
</div>
   
</section>
