<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false">
      <p>APP</p>
      <mat-nav-list>
        <a mat-list-item routerLink="/auth" (click) = "sidenav.close()">Prijavi se<mat-icon>computer</mat-icon></a>
        <a mat-list-item href="#">Bela tehnika<mat-icon>microwave</mat-icon></a>
        <a mat-list-item href="#">Bicikla<mat-icon>pedal_bike</mat-icon></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="#F01616"><div fxHide.gt-xs (click) = "sidenav.toggle()"><mat-icon>menu</mat-icon></div>
       <div fxFlex fxLayoutAlign="end"  fxHide.xs>
         <button type="button" class="btn   btn-lg" id="auth" (click) = "toogleLogin()">prijavi se/registruj se</button>
       </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
    
  </mat-sidenav-container>
