<div class="container-fluid ">
  <div class="col-lg-3 col-md-2  my-5 float-left filter">
    <ul class="list-group mx-auto">
      <li class="list-group-item list-group-item-action" (click)="getAllMeals()">sve kategorije</li>
      <li *ngFor="let category of this.listOfCAtegories" class="list-group-item list-group-item-action" (click)="filter(category)">{{category}}
      </li>
    </ul>
  </div>
  <div class=" row">
    
    <div class="col-lg-8 col-sm-12  ">
      <h2 class="text-center">{{getNameOfResturant(this.message)}}</h2>

      <div class="form-group row">

        <div class="col-sm-10 mx-auto">
          <div class="input-group smm">
            <div class="input-group-prepend">
              
              <span class="input-group-text" id="basic-addon1"><mat-icon>search</mat-icon></span>
            </div>
            <input (keyup)= "search($event)" class="form-control" type="text" placeholder="Pretražite Jelovnik" aria-label="Search">
          </div>
         
        </div>
      </div>
      <div class="d-flex align-items-start flex-column filter">
      <div *ngFor="let meal of this.theVisibleMeals" fxLayout="row inline" class="card mx-auto m-2 rounded">
        <img class="card-img-top" src="../../../assets/images/pomfrit.jpg" alt="Card image cap">
        <div class="card-body">

          <h1 class="card-title">{{meal.name}}</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button type="button text-right" class="btn btn-lg btn-warning float-right" [disabled]="!this.authService.isLogedin()"
            (click)=" addItemToCart(meal.mealId)">dodaj</button>
        </div>
      </div>
    </div>
    </div>
    <div class="  col-lg-3 ">
      <div class=" cart col-11  " style="background: #F0F0C999;">
        <h3 class="text-center">Vasa korpa</h3>
        <div  *ngFor="let cartItem of this.returnCurrentItemsInCart()" fxLayoutAlign="space-between" [ngClass]= "isActive ? 'active border-bottom py-3 ' : 'border-bottom py-3'">
          <div fxLayout="row inline">
            <div>

              <h3 class="text-center">{{cartItem.name}} </h3>
              <div fxLayout="row inline ">
                <button mat-mini-fab color="warn" class="mx-2"
                  (click)="increassQuantityAndPrice(this.currentItemsIncart.indexOf(cartItem))">+</button>
                <p class="font-weight-bold">{{cartItem.quantity}}</p>
                <button mat-mini-fab color="warn" class="mx-2"
                  (click)="decreassQuantityAndPrice(this.currentItemsIncart.indexOf(cartItem))">-</button>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-between">
            <mat-icon (click)="removeItemFromCart(this.currentItemsIncart.indexOf(cartItem))">close</mat-icon>
            <p class="font-weight-bold text-right">{{cartItem.totalPrice}}</p>
          </div>
        </div>
        <div  fxAlignLayout="space-around">
          <h2 fxFlex class="m-3 text-center">CENA</h2>
        <h2 fxFlex class=" m-3 text-center font-weight-bold float-right" >{{this.total()}}</h2>
        </div>
        <div  class=" border-top"><button [disabled]="!this.disableButton()" class="btn btn-warning  m-3 float-center"(click) = "openDialog()">naruci</button></div>
      </div>
    </div>
  </div>
  
</div>