img{
    background-size: cover;
    width:40%;
    height:100%;
}
.card{
    height:20vh;
}
li{
    font-weight: bold;
}
.filter{
    position: sticky;
    top:21vh;
}


 .cart{
    position: sticky;
    top:21vh;
    
} 

